body {
    font-family: sans-serif;
    background-color: rgb(42, 41, 41);
}
img{
    width: 150px;
}
header{
    background-color:white ;
    font-size: 25px;
}
h2{
    color: rgb(231, 89, 1);
}
.head{
    position: relative;
    left: 125px;
    height: 100px;
    width: 500px;
}
.pro{
   text-align: center;
}
.pron{
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}
.pron:hover{
    font-size: 21px;
}

    
}
article{
    width: 200px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}
.rozmir{
    height: 35px;
}
.akcia{
    text-align: center;
}
.h2{
   text-align: center;
}
nav{
    text-align:center;
}
